# worker-deployment.yml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
  namespace: netflow
spec:
  replicas: 2
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
      - name: worker
        image: kurokano/worker:v1.0
        env:
        - name: WORKER_ID
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: RABBITMQ_HOST
          valueFrom:
            configMapKeyRef:
              name: configmap
              key: RABBITMQ_HOST
        - name: DB_NAME
          valueFrom:
            configMapKeyRef:
              name: configmap
              key: DB_NAME
        - name: RABBITMQ_DEFAULT_USER
          valueFrom:
            secretKeyRef:
              name: secret-value
              key: RABBITMQ_DEFAULT_USER
        - name: RABBITMQ_DEFAULT_PASS
          valueFrom:
            secretKeyRef:
              name: secret-value
              key: RABBITMQ_DEFAULT_PASS
        - name: MONGO_URI
          valueFrom:
            secretKeyRef:
              name: secret-value
              key: MONGO_URI

