# apps/netflow/overlays/production/patches/web-deployment-patch.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-deployment
  namespace: netflow
spec:
  replicas: 2
  template:
    spec:
      containers:
      - name: web
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "500m"
